.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(124, 123, 123, 0.596) 2px 2px 2px 2px;
  margin-right: 1rem;
  padding: 3px;
  background-color: white;
  width: 300px;
  height: 100px;
  text-align: center; 
}