* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 231, 231);
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  width: 100%;
  display: flex;
}

.content input {
  outline: 0;
  border-width: 0 0 2px;
  background-color: rgb(231, 231, 231);
}

@media (max-width: 1300px) {
  .formInputs {
    width: 30%;
  }

  .resultsContent {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .formInputs {
    width: 40%;
  }

  .resultsContent {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .formInputs {
    width: 50%;
  }

  .resultsContent {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .content {
    display: block;
  }

  .formInputs {
    width: 100%;
  }

  .leftSimulatorContent {
    width: 100%;
  }

  .rightSimulatorContent {
    width: 100%;
  }

  .content input {
    outline: 0;
    border-width: 0 0 2px;
    background-color: rgb(231, 231, 231);
    width: 100%;
  }

  .cleanFieldsButton {
    margin-right: 0;
    width: 100%;
  }

  .simulationButton {
    margin-right: 0;
    width: 100%;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}
