
.resultsContent{
  
  width: 75%;
}


@media(max-width: 1300px){
  .formInputs {
    width: 30%;
  }
  
  .resultsContent{
    
    width: 70%;
  }

}

@media(max-width: 1000px){
  .formInputs {
    width: 40%;
  }
  
  .resultsContent{
    
    width: 60%;
  }

}

@media(max-width: 800px){
  .formInputs {
    width: 50%;
  }
  
  .resultsContent{
    
    width: 50%;
  }

}

@media(max-width: 650px){
  .content{
    display: block;
  }

  .formInputs {
    
    width: 100%;
  }

  .leftSimulatorContent{
    width: 100%;
  }

  .rightSimulatorContent{
    width: 100%;
  }
  
  .content input{
  
    outline: 0;
    border-width: 0 0 2px;
    background-color:rgb(231, 231, 231); ;
    width: 100%;
  }

  
  .cleanFieldsButton{
    margin-right: 0;
    width: 100%;
  }

  .simulationButton{
    margin-right: 0;
    width: 100%;
  }

  .title{
    display: flex;
    justify-content: center;
  }

}